<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infografía doctorado</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="assets/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/estilos.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="leftbox">
        <nav>
          <a id="dashboard" style="padding-top: 430px"><i class="fa-solid fa-house-signal"></i></a>
          <a id="setting" style="padding-top: 270px"><i class="fa-regular fa-file-word"></i></a>
          <a id="messages" style="padding-top: 505px"> <i class="fa fa-comments"></i> </a>
          <a id="notification" style="padding-top: 80px">
            <i class="fa fa-bell" style="color: #ab1f1f"></i>
          </a>
          <a id="notification" style="padding-top: 225px">
            <i class="fa-solid fa-rotate-left" style="color: #ab1f1f"></i>
          </a>
        </nav>
      </div>

      <div class="rightbox">
        <div class="rb-container">
          <ul class="rb">
            <h1 style="color: #f0f8ff; padding-left:150px">Doctorado en Tecnologías de la Información y la Comunicación</h1>

            <h3 style="color: #f0f8ff; font-style: italic; padding-left:150px"">***Plantilla Actas de Seguimiento***</h3>
            <a href="assets/files/Formato_ActaSeguimiento_DoctoradoTIC_2024.docx" target="_blank" style="text-decoration: none">
              <span style="color: #0ad03f; padding-left:150px;">
                Haga clic aqui para descargar el acta de seguimiento
              </span>
            </a>
            
            <h3 style="color: #f0f8ff; font-style: italic; padding-left:150px"">***Orientaciones PEE***</h3>
            <a href="assets/files/orientaciones_PEE.pdf" target="_blank" style="text-decoration: none">
              <span style="color: #0ad03f; padding-left:150px;">
                Haga clic aqui para visualizar las orientaciones
              </span>
            </a>
            
            <div style="padding-left:150px; padding-top: 20px;"><hr className="dropdown-divider"/></div>            

            <h3 style="color: #f0f8ff; font-style: italic; padding-left:150px; padding-top: 20px;"">
              ***Ruta de entrega tesis doctoral***
            </h3>
            
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                <span style="font-size: 25px">Paso 1</span>
                <br />
                Verificación cumplimiento requisitos
                <br />
                <input type="checkbox" checked="checked" />
                <span style="color: #2388cb">Terminado</span>
              </div>
              <div class="item-title">
                El Tutor y el Coordinador del programa deben verificar el cumplimiento de los requisitos mínimos para
                entregar el informe escrito.
                <ul>
                  <input type="checkbox" checked="checked" />84 créditos aprobados.
                  <br />
                  <input type="checkbox" checked="checked" />Nivel de inglés B1.
                  <a href="assets/files/lineamientosRequisitoIngles.pdf" target="_blank" style="text-decoration: none">
                    <span style="color: #0ad03f">Ver lineamientos</span>
                  </a>
                  <br />
                  <input type="checkbox" checked="checked" />Aceptación artículo científico Scopus o ISI.
                  <br />
                  <input type="checkbox" checked="checked" />Participación en evento científico con divulgación de
                  resultados.
                </ul>
              </div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                <span style="font-size: 25px">Paso 2</span><br />
                Envío del informe escrito al Coordinador del doctorado.
                <br />
                <input type="checkbox" />
                <span style="color: #f26363">Tiempo: 15 días</span>
              </div>
              <div class="item-title">
                El correo debe contener carta de aval del tutor y el informe escrito de la tesis doctoral en la
                plantilla institucional.
                <br />
                La plantilla se puede descargar
                <a
                  href="assets/files/plantillaDocumentoFinal_DoctoradoTIC_Abril15-2024.docx"
                  target="_blank"
                  style="text-decoration: none"
                >
                  <span style="color: #0ad03f">AQUÍ</span>
                </a>
                <br />
                En la carta se deben sugerir los 3 jurados.
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Paso 2.1<br />
                Revisión del Comité Curricular.
              </div>
              <div class="item-title">
                El comité curricular del doctorado sesionará con el fin de validar que se tienen los documentos del paso
                2 y procederá a la asignación de los jurados.
                <br />
                Se asignarán 3 jurados: nacionales y/o internacionales.
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Paso 2.2<br />
                Envío a jurados por parte del Coordinador del Doctorado
              </div>
              <div class="item-title">
                El Coordinador del doctorado procederá a enviar el documento de tesis doctoral a los 3 jurados.
                <br />
                La comunicación será entre estudiantes-Coordinador y jurados y Coordinador.
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                <span style="font-size: 25px">Paso 3</span>
                Revisión del jurado
                <br />
                <input type="checkbox" />
                <span style="color: #f26363">Tiempo: 60 días</span>
              </div>
              <div class="item-title">
                El jurado cuenta con un tiempo máximo de 60 días para la realización del informe de evaluación.
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Paso 3.1<br />
                Recepción informe evaluación.
              </div>
              <div class="item-title">
                El informe de evaluación será reenviado al estudiante con copia al director de la tesis.
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Paso 3.2<br />
                <b>No hay observaciones:</b> Pasa al Punto 4.
                <br />
                <input type="checkbox" />
                <span style="color: #f26363">Tiempo: 30 días</span>
              </div>
              <div class="item-title">En caso de existir observaciones, el estudiante deberá seguir al punto 3.3</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Paso 3.3<br />
                Vuelve al Paso 2.
              </div>
              <div class="item-title">
                El estudiante debe enviar nuevamente al Coordinador el informe escrito de la tesis y un documento donde
                explica qué ajustes realizó.
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                <span style="font-size: 25px">Paso 4</span>
                <br />
                Programación Defensa Tesis Doctoral
              </div>
              <div class="item-title">
                Cuando el jurado entrega concepto de aprobación para defensa, el comité programará fecha de
                sustentación.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <p><br /></p>
    </div>
    <div>
      <p><br /></p>
    </div>
  </body>
</html>
